body{
    margin: 0%;
}

.b{
    width:100%;
    height:600px ;
background: white;
}

#b1{
    background-image: linear-gradient( yellow, orange );

}

#menu{
    position: fixed;
 z-index: 3;
    top: 0%;
    width: 100%;
    height:75px;
    background:rgb(139, 132, 204);
}
@media(max-width:600px){
    #menu{
        height:250px; ;
    }
}
    
#m1{
    height:30px ;
    width: 40px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: white;


}

@media(max-width:768px){
    #m1{
        
        position: relative;
        left: -50px;
    }
}

.m2:hover{
    color: rgb(138, 105, 182);
}
.m2{
    cursor: pointer;
    float: right;
    font-family: fantasy;
    font-size: 25px;
    margin: -30px 30px 20px;
}
@media(max-width:992px){
    .m2{
font-size: 20px;
        float: right;
   }
}
@media(max-width:768px){
    .m2{
        margin: -23px 20px 0px;;
    }
}
@media(max-width:600px){
    .m2{
        margin-left: 30px;
        padding: 25px;
        float:none;
    }
}

#b1h{
    position: relative;
    top: 260px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    font-size: 72px;
    font-family:  sans-serif;
    font-weight: bold;
}
@media(max-width:600px){
    #b1h{
        position: relative;
    top: 400px;

    }
}
.bp{
    text-align: center;
    position: relative;
    top: 150px;
    left: 240px;
    margin:0px 15px ;
    float: left;
    width: 500px;
height:300px ;
}
@media(max-width:992px){
    .bp{
        position: relative;
        left:0;
        margin-left: 0%
    }
}
@media(max-width:768px){
    .bp{
        position: relative;
        left:90px;
        margin-left: 0%
    }
}
@media(max-width:600px){
    .bp{
        position: relative;
        left: 0%;
        margin-left: 0%
    }
}

.bi{
    border-radius: 50%;
    position: relative;
    top: 150px;
    float: left;
    left: 260px;
    margin:0px 35px ;
    width: 300px;
height:300px ;
border: 1px rgb(134, 61, 61) solid;
background: white;
}
@media(min-width:768px){
    .bi{
        position: relative;
        left:0;
        margin-left: 0%;
        height:200px;
        width: 200px;
    }
}
@media(min-width:992px){
    .bi{
        position: relative;
        top: 150px;
        float: left;
        left: 260px;
        margin:0px 35px ;
        height:300px;
        width: 300px;
    }
}
@media(max-width:768px){
    .bi{
        position: relative;
        left:240px;
        margin-left: 0%
    }
}
@media(max-width:600px){
    .bi{
        position: relative;
        left: 118.5px;
        margin-left: 0%
    }
}

h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    position: relative;
    top: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#b2i{
background-image: url('1m.jpg');
background-size:200px; 
background-repeat: no-repeat;
background-position:50px 100px;
}
@media(min-width:768px){
    #b2i{
background-position:20px 60px;
background-size: 150px;
    }
}

@media(min-width:992px){
#b2i{
    background-position:50px 100px;
    background-size: 200px;
        }
    }

#b3i{
    background-image: url('2m.jpg');
    background-size:450px; 
    background-repeat: no-repeat;
    background-position:-20px 0px;
    
    }
    @media(min-width:768px){
        #b3i{
    background-position:-15px 0px;
    background-size: 300px;
        }
    }
    @media(min-width:992px){
        #b3i{
    background-position:-20px 0px;
    background-size: 450px;
        }
    }